<footer class="footer">
  <div class="footer-left">
    <!-- Footer logo -->
    <img class="logo-footer" src="images/logo.png" alt="Casting Agency Logo" />
  </div>

  <div class="footer-center">
    <!-- Copyright information -->
    <p>Copyright © 2025 Company name. All Rights Reserved</p>
  </div>

  <div class="footer-right">
    <!-- Social media links -->
    <a href="https://www.instagram.com" target="_blank">
      <img
        class="social-icon"
        src="images/instagram.png"
        alt="Instagram Icon"
      />
    </a>
    <a href="https://www.facebook.com" target="_blank">
      <img class="social-icon" src="images/facebook.png" alt="Facebook Icon" />
    </a>
    <a href="https://twitter.com" target="_blank">
      <img class="social-icon" src="images/twitter.png" alt="Twitter Icon" />
    </a>
  </div>
</footer>
